TestClient/Connected Services/GameShopWarehouseService/GameShopWarehouseService11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EFGameShopDatabase.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EFGameShopDatabase.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Item" nillable="true" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItem" nillable="true" type="tns:ArrayOfItem" />
  <xs:complexType name="Item">
    <xs:sequence>
      <xs:element minOccurs="0" name="available_quantity" type="xs:int" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="item_id" type="xs:int" />
      <xs:element minOccurs="0" name="loyality_points" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="price" type="xs:decimal" />
      <xs:element minOccurs="0" name="tax_rate" type="xs:double" />
      <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="unit" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Item" nillable="true" type="tns:Item" />
</xs:schema>